<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <!-- TODO create css file eventually -->
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <img src="static/images/santa.png" height="200px" width="200px">
    <form id="form_id">
        <label for="song">Write a Christmas song about...</label><br>
        <input type="text" id="song_subject" placeholder="whatever you want!"><br><br>
        <input type="submit" value="Generate song" id="submit">
    </form>
    <div id="christmas_song_container"></div>
    <div>
      Mariah Carey - All I Want For Christmas Is You (instrumental)<br/>
      <img src="static/images/mariah_carey.png" height="100px" width="100px">
      <!-- <audio controls autoplay loop>
        <source src="https://todidlist-oregon.s3.us-west-2.amazonaws.com/mariah_carey_all_I_want_for_christmas_is_you_instrumental" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio> -->
      <audio
        controls loop
        src="https://todidlist-oregon.s3.us-west-2.amazonaws.com/mariah_carey_all_I_want_for_christmas_is_you_instrumental">
      </audio>
    </div>
    <script src="static/js/index.js"></script>
  </body>
</html>